
<div id="debug" markdown="1">

Debug
=====


### Notes

Use this: <https://repository.genmymodel.com/mojhoss/WebrtcVideoHighLevel>


### Example Syntax Highlighting

~~~~~ python
import itertools

def iter_primes():
     # an iterator of all numbers between 2 and +infinity
     numbers = itertools.count(2)

     # generate primes forever
     while True:
         # get the first number from the iterator (always a prime)
         prime = numbers.next()
         yield prime

         # this code iteratively builds up a chain of
         # filters...slightly tricky, but ponder it a bit
         numbers = itertools.ifilter(prime.__rmod__, numbers)

for p in iter_primes():
    if p > 1000:
        break
    print p
~~~~~

### Google Custom Search Engine Test

<script>
  (function() {
    var cx = '003367860376540524942:3wajsr7j1p8';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>


### to-do

Moving these issues to issue tracker in private GitHub project
[louquillio/webrtc-site](https://github.com/louquillio/webrtc-site). Ask
GitHub user louquillio for access.

**Issues: <https://github.com/louquillio/webrtc-site/issues>**

  * _Determine URLs and nav for [webrtc-internals] docs_
    [**moved**](https://github.com/louquillio/webrtc-site/issues/3)
  * _Reckon how to deploy archived blog posts_
    [**moved**](https://github.com/louquillio/webrtc-site/issues/4)
  * _Visual brand: more polish, horizontal variant for page headers (needs
    more work)_
    [**moved**](https://github.com/louquillio/webrtc-site/issues/6)
  * _Re-draw block diagrams and flow charts for consistency. Though
    their formats are proprietary, consider sourcing in [Omnigraffle] or
    [LucidChart], for efficiency._
    [**moved**](https://github.com/louquillio/webrtc-site/issues/7)
  * _Scrub all text for [ESL] and stilted language, passive voice, etc.,
    especially homepage elevator pitch (wordy)._
    [**moved**](https://github.com/louquillio/webrtc-site/issues/8)
  * _Disable search widget at launch. Create Google Custom Search after launch,
    configure, and enable search widget._
    [**moved**](https://github.com/louquillio/webrtc-site/issues/13)
    [**moved**](https://github.com/louquillio/webrtc-site/issues/14)
  * _Overall homepage polish_
   [**moved**](https://github.com/louquillio/webrtc-site/issues/2)
    * _Custom styles for various boxes/lists_
    * _Icons (Chrome, Android, Opera, etc.)_
  * _Footer_
    [**moved**](https://github.com/louquillio/webrtc-site/issues/17)
    * _High-level nav items in footer_
    * _Contact and social media links_
    * _HTML5 et al. icons_
  * _Code blocks: syntax highlight, horizontal scroll (overflow-x)_
    [**moved**](https://github.com/louquillio/webrtc-site/issues/9)
  * _Code blocks: Partial current solution (but inelegant, and may not work on
    GitHub)_
    [**moved**](https://github.com/louquillio/webrtc-site/issues/9)
  * <s>Videos page needs a .clearfix to pin the page footer</s>
  * _Concat and minify CSS, JS_
    [**moved**](https://github.com/louquillio/webrtc-site/issues/10)
  * _Consider gradients, etc., on logographic (essentially, greater
    [Tango]-ification). If used, post revised logographic vector art (SVG) to
    Wikipedia. Also create presskit-style page with approved graphics._
    [**moved**](https://github.com/louquillio/webrtc-site/issues/5)
  * _Run a link checker over the site, dig out 404s_
    [**moved**](https://github.com/louquillio/webrtc-site/issues/12)
  * _Generically rename includes and templates (e.g., scrub lq2-* naming)._
    [**moved**](https://github.com/louquillio/webrtc-site/issues/11)
    _Delete unused components._
    [**moved**](https://github.com/louquillio/webrtc-site/issues/11)
  * _Consider [webfonts]_
    [**moved**](https://github.com/louquillio/webrtc-site/issues/15)
  * _Consider [Font Awesome]_
    [**moved**](https://github.com/louquillio/webrtc-site/issues/16)

[webrtc-internals]: /reference/webrtc-internals/
[ESL]: http://en.wikipedia.org/wiki/English_as_a_second_or_foreign_language
[Omnigraffle]: https://www.omnigroup.com/omnigraffle
[LucidChart]: https://www.lucidchart.com/
[Tango]: http://tango.freedesktop.org/Tango_Icon_Theme_Guidelines
[webfonts]: https://www.google.com/fonts
[Font Awesome]: http://fortawesome.github.io/Font-Awesome/examples/#bootstrap


### Global Nav

_Remove links as nav items are incorporated into topnav._

  * bugs
  * contributing
  * architecture
  * web-apis
    * development
    * standardization
    * chrome
    * firefox
    * interop
  * native-code
    * development
    * prerequisite-sw
    * android
    * ios
    * native-apis
  * testing
    * continuous
    * conformance
    * wireshark
  * release-notes
  * reference-apps
  * troubleshooting
  * license
    * ilbc-freeware
      * [ilbc-extra-documentation](/license/ilbc-freeware/ilbc-extra-documentation/)
  * [experiments](/experiments/)
    * [rtp-hdrext](/experiments/rtp-hdrext/)
      * [abs-send-time](/experiments/rtp-hdrext/abs-send-time/)
  * faq
  * videos
  * [archive](/archive/)

Orphans
-------

  * [status](/status/)
  * [quick-links](/quick-links/)
  * [reference](/reference/)
    * [webrtc-internals](/reference/webrtc-internals/)
      * [structures](/reference/webrtc-internals/structures/)

</div>
