<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 col-sm-2 col-xs-2 col-md-offset-1 col-sm-offset-1 fpanel">
      <p class="center-block ftitle"><strong>About</strong></p>
        <ul class="text-links">
          <li><a href="{{ site.baseurl }}/faq/">FAQ</a></li>
          <li><a href="{{ site.baseurl }}/architecture/">Architecture</a></li>
          <li><a href="{{ site.baseurl }}/videos/">Videos</a></li>
          <li><a href="{{ site.baseurl }}/release-notes/">Release Notes</a></li>
          <li><a href="{{ site.baseurl }}/reference-apps/">Reference Apps</a></li>
          <li><a href="{{ site.baseurl }}/license/">License</a></li>
          <li><a href="{{ site.baseurl }}/press/">Press</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-2 fpanel">
        <p class="center-block ftitle"><strong>Developer</strong></p>
        <ul class="text-links">
          <li><a href="{{ site.baseurl }}/contributing/">Contributing</a></li>
          <li><a href="{{ site.baseurl }}/bugs/">Bug Reporting</a></li>
          <li><a href="{{ site.baseurl }}/troubleshooting/">Troubleshooting</a></li>
          <li><a href="{{ site.baseurl }}/testing/continuous/">Continuous Testing</a></li>
          <li><a href="{{ site.baseurl }}/testing/conformance/">Conformance Testing</a></li>
          <li><a href="{{ site.baseurl }}/testing/wireshark/">Wireshark</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-2  fpanel">
        <p class="center-block ftitle"><strong>Native Code</strong></p>
        <ul class="text-links">
          <li><a href="{{ site.baseurl }}/native-code/">Overview</a></li>
          <li><a href="{{ site.baseurl }}/native-code/development/">Development</a></li>
          <li><a href="{{ site.baseurl }}/native-code/development/prerequisite-sw/">Prerequisites</a></li>
          <li><a href="{{ site.baseurl }}/native-code/android/">Android</a></li>
          <li><a href="{{ site.baseurl }}/native-code/ios/">iOS</a></li>
          <li><a href="{{ site.baseurl }}/native-code/native-apis/">Native APIs</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-2 fpanel">
        <p class="center-block ftitle"><strong>Web APIs</strong></p>
        <ul class="text-links">
          <li><a href="{{ site.baseurl }}/web-apis/">Overview</a></li>
          <li><a href="{{ site.baseurl }}/web-apis/development/">Development</a></li>
          <li><a href="{{ site.baseurl }}/web-apis/standardization/">Standarization</a></li>
          <li><a href="{{ site.baseurl }}/web-apis/chrome/">Chrome</a></li>
          <li><a href="{{ site.baseurl }}/web-apis/firefox/">Firefox</a></li>
          <li><a href="{{ site.baseurl }}/web-apis/interop/">Interop</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-2 fpanel">
        <p class="center-block ftitle">Contact</p>
        <ul class="text-links">
          <li><a href="https://plus.google.com/113817074606039822053">Google+</a></li>
          <li><a href="https://twitter.com/webrtc">Twitter</a></li>
          <li><a href="https://groups.google.com/group/discuss-webrtc">discuss-webrtc</a></li>
        </ul>
      </div>
    </div><!-- /.row -->
  </div>
</footer>
