        <form name="google-search" method="get" action="https://www.google.com/search" class="navbar-form navbar-right" role="search">
          <div class="form-group has-feedback">
            <input type="hidden" name="sitesearch" value="https://webrtc.org/">
            <input type="text" name="q" class="form-control" placeholder="Search" id="inputSuccess2">
            <span class="glyphicon glyphicon-search form-control-feedback"></span>
          </div>
        </form>
{% comment %}
// Integrate this later
<script>
  (function() {
    var cx = '003367860376540524942:3wajsr7j1p8';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
{% endcomment %}
