<table border="1" cellpadding="7" cellspacing="0" style="margin:0px" width="610">
<colgroup>
<col width="146" />
<col width="157" />
<col width="264" /></colgroup>
<tbody>
<tr>
<td style="vertical-align:top;padding:1px 4px" width="146">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2"><b>Classes, Structures, Enumerators</b></font></p>
</td>
<td style="vertical-align:top;padding:1px 4px" width="157">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><b><font face="arial, sans-serif" size="2">Header</font></b></p>
</td>
<td style="vertical-align:top;padding:1px 4px" width="264">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2"><b>Description</b></font></p>
</td>
</tr>
</tbody>
<tbody>
<tr>
<td bgcolor="#f3f3f3" style="vertical-align:top;padding:1px 4px" width="146">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2"><a href="http://www.webrtc.org/reference/webrtc-internals/structures" style="color:rgb(36,53,93);text-decoration:underline;font-weight:bold;padding:2px">Structures</a></font></p>
</td>
<td bgcolor="#f3f3f3" style="vertical-align:top;padding:1px 4px" width="157">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2">common_types.h</font></p>
</td>
<td bgcolor="#f3f3f3" style="vertical-align:top;padding:1px 4px" width="264">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><span style="line-height:normal"><font face="arial, sans-serif" size="2">Lists the structures common to the VoiceEngine &amp; VideoEngine</font></span></p>
</td>
</tr>
<tr>
<td style="vertical-align:top;padding:1px 4px" width="146">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2"><a href="http://www.webrtc.org/reference/webrtc-internals/enumerators" style="color:rgb(36,53,93);text-decoration:underline;font-weight:bold;padding:2px">Enumerators</a></font></p>
</td>
<td style="vertical-align:top;padding:1px 4px" width="157">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2">common_types.h</font></p>
</td>
<td style="vertical-align:top;padding:1px 4px" width="264">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><span style="line-height:normal"><font face="arial, sans-serif" size="2">List the enumerators common to the  VoiceEngine &amp; VideoEngine</font></span></p>
</td>
</tr>
<tr>
<td bgcolor="#f3f3f3" style="vertical-align:top;padding:1px 4px" width="146">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2"><a href="http://www.webrtc.org/reference/webrtc-internals/classes" style="color:rgb(36,53,93);text-decoration:underline;font-weight:bold;padding:2px">Classes</a></font></p>
</td>
<td bgcolor="#f3f3f3" style="vertical-align:top;padding:1px 4px" width="157">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2">common_types.h</font></p>
</td>
<td bgcolor="#f3f3f3" style="vertical-align:top;padding:1px 4px" width="264">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><span style="line-height:normal"><font face="arial, sans-serif" size="2">List the classes common to VoiceEngine &amp; VideoEngine</font></span></p>
</td>
</tr>
<tr>
<td style="vertical-align:top;padding:1px 4px" width="146">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2">class <a href="http://www.webrtc.org/reference/webrtc-internals/voiceengine-1" style="color:rgb(36,53,93);text-decoration:underline;font-weight:bold;padding:2px">VoiceEngine</a></font></p>
</td>
<td style="vertical-align:top;padding:1px 4px" width="157">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2">voe_base.h</font></p>
</td>
<td style="vertical-align:top;padding:1px 4px" width="264">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2"><span style="line-height:normal">How to allocate and release resources for the VoiceEngine using factory methods in the <font size="2">VoiceEngine</font> class. It also lists the APIs which are required to enable file tracing and/or traces as callback messages</span></font></p>
</td>
</tr>
<tr>
<td bgcolor="#f3f3f3" style="vertical-align:top;padding:1px 4px" width="146">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2">class <a href="http://www.webrtc.org/reference/webrtc-internals/videoengine" style="color:rgb(36,53,93);text-decoration:underline;font-weight:bold;padding:2px">VideoEngine</a></font></p>
</td>
<td bgcolor="#f3f3f3" style="vertical-align:top;padding:1px 4px" width="157">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2">vie_base.h</font></p>
</td>
<td bgcolor="#f3f3f3" style="vertical-align:top;padding:1px 4px" width="264">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><span style="line-height:normal"><font face="arial, sans-serif" size="2">How to allocate and release resources for the VideoEngine using factory methods in the <font size="2">VideoEngine</font> class. It also lists the APIs which are required to enable file tracing and/or traces as callback messages</font></span></p>
</td>
</tr>
</tbody>
</table>
<blockquote style="margin:0px 0px 0px 40px;color:rgb(102,102,102);border-style:none;padding:0px">
</blockquote>
<h3 style="font-family:Palatino,Palatino Linotype,serif;font-size:1.5em;font-weight:normal;margin-top:1em;color:rgb(36,53,93)"><a name="TOC-VoiceEngine-Sub-APIs"></a><span style="font-size:22px;font-style:normal"><b><font face="arial, sans-serif">VoiceEngine Sub APIs</font></b></span></h3>
<div><span style="color:rgb(0,0,0);font-style:normal;line-height:normal"><font face="arial, sans-serif" size="2">The table below summarizes the sub APIs that are currently available in VoiceEngine.</font></span></div>
<blockquote style="margin:0px 0px 0px 40px;color:rgb(102,102,102);border-style:none;padding:0px">
</blockquote>
<table border="1" cellpadding="7" cellspacing="0" style="margin:0px" width="610">
<colgroup>
<col width="146" />
<col width="157" />
<col width="264" /></colgroup>
<tbody>
<tr>
<td style="vertical-align:top;padding:1px 4px" width="146">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2"><a name="Table_SubAPIs" style="color:rgb(36,53,93);text-decoration:underline;font-weight:bold;padding:2px"></a><b>sub-API</b></font></p>
</td>
<td style="vertical-align:top;padding:1px 4px" width="157">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><b><font face="arial, sans-serif" size="2">Header</font></b></p>
</td>
<td style="vertical-align:top;padding:1px 4px" width="264">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><b><font face="arial, sans-serif" size="2">Description</font></b></p>
</td>
</tr>
</tbody>
<tbody>
<tr>
<td bgcolor="#f3f3f3" style="vertical-align:top;padding:1px 4px" width="146">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2"><a href="http://www.webrtc.org/reference/webrtc-internals/voeaudioprocessing" style="color:rgb(36,53,93);text-decoration:underline;font-weight:bold;padding:2px">VoEAudioProcessing</a></font></p>
</td>
<td bgcolor="#f3f3f3" style="vertical-align:top;padding:1px 4px" width="157">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2">voe_audio_processing.h</font></p>
</td>
<td bgcolor="#f3f3f3" style="vertical-align:top;padding:1px 4px" width="264">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2">Adds support for Noise Suppression (NS), Automatic Gain Control (AGC) and Echo Control (EC). Receiving side VAD is also included.</font></p>
</td>
</tr>
<tr>
<td style="vertical-align:top;padding:1px 4px" width="146">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2"><a href="http://www.webrtc.org/reference/webrtc-internals/voebase" style="color:rgb(36,53,93);text-decoration:underline;font-weight:bold;padding:2px">VoEBase</a></font></p>
</td>
<td style="vertical-align:top;padding:1px 4px" width="157">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2">voe_base.h</font></p>
</td>
<td style="vertical-align:top;padding:1px 4px" width="264">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2">Enables full duplex VoIP using G.711.<br />
<b>NOTE:</b> This API must always be created.</font></p>
</td>
</tr>
<tr>
<td bgcolor="#f3f3f3" style="vertical-align:top;padding:1px 4px" width="146">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2"><a href="http://www.webrtc.org/reference/webrtc-internals/voecallreport" style="color:rgb(36,53,93);text-decoration:underline;font-weight:bold;padding:2px">VoECallReport</a></font></p>
</td>
<td bgcolor="#f3f3f3" style="vertical-align:top;padding:1px 4px" width="157">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2">voe_call_report.h</font></p>
</td>
<td bgcolor="#f3f3f3" style="vertical-align:top;padding:1px 4px" width="264">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2">Adds support for call reports which contains number of dead-or-alive detections, RTT measurements, and Echo metrics.</font></p>
</td>
</tr>
<tr>
<td style="vertical-align:top;padding:1px 4px" width="146">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2"><a href="http://www.webrtc.org/reference/webrtc-internals/voecodec" style="color:rgb(36,53,93);text-decoration:underline;font-weight:bold;padding:2px"><span style="border-collapse:collapse;font-family:Calibri,sans-serif;font-size:13px">VoECodec</span></a></font></p>
</td>
<td style="vertical-align:top;padding:1px 4px" width="157">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2">voe_codec.h</font></p>
</td>
<td style="vertical-align:top;padding:1px 4px" width="264">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2">Adds non-default codecs (e.g. iLBC, iSAC, G.722 etc.), Voice Activity Detection (VAD) support.</font></p>
</td>
</tr>
<tr>
<td bgcolor="#f3f3f3" style="vertical-align:top;padding:1px 4px" width="146">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2"><a href="http://www.webrtc.org/reference/webrtc-internals/voedtmf" style="color:rgb(36,53,93);text-decoration:underline;font-weight:bold;padding:2px">VoEDTMF</a></font></p>
</td>
<td bgcolor="#f3f3f3" style="vertical-align:top;padding:1px 4px" width="157">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2">voe_dtmf.h</font></p>
</td>
<td bgcolor="#f3f3f3" style="vertical-align:top;padding:1px 4px" width="264">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2">Adds telephone event transmission, DTMF tone generation and telephone event detection. (Telephone events include DTMF.)</font></p>
</td>
</tr>
<tr>
<td style="vertical-align:top;padding:1px 4px" width="146">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2"><a href="http://www.webrtc.org/reference/webrtc-internals/voeencryption" style="color:rgb(36,53,93);text-decoration:underline;font-weight:bold;padding:2px">VoEEncryption</a></font></p>
</td>
<td style="vertical-align:top;padding:1px 4px" width="157">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2">voe_encryption.h</font></p>
</td>
<td style="vertical-align:top;padding:1px 4px" width="264">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2">Adds external encryption/decryption support.</font></p>
</td>
</tr>
<tr>
<td bgcolor="#f3f3f3" style="vertical-align:top;padding:1px 4px" width="146">
<p style="margin-left:0in;margin-bottom:0.08in;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2" style="font-style:normal"><a href="http://www.webrtc.org/reference/webrtc-internals/voeerrors" style="color:rgb(36,53,93);text-decoration:underline;font-weight:bold;padding:2px">VoEErrors</a></font></p>
</td>
<td bgcolor="#f3f3f3" style="vertical-align:top;padding:1px 4px" width="157">
<p style="margin-left:0in;margin-bottom:0.08in;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2" style="font-style:normal">voe_errors.h</font></p>
</td>
<td bgcolor="#f3f3f3" style="vertical-align:top;padding:1px 4px" width="264">
<p style="margin-left:0in;margin-bottom:0.08in;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2" style="font-style:normal">Error Codes for the VoiceEngine</font></p>
</td>
</tr>
<tr>
<td style="vertical-align:top;padding:1px 4px" width="146">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2"><a href="http://www.webrtc.org/reference/webrtc-internals/voeexternalmedia" style="color:rgb(36,53,93);text-decoration:underline;font-weight:bold;padding:2px">VoEExternalMedia</a></font></p>
</td>
<td style="vertical-align:top;padding:1px 4px" width="157">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2">voe_external_media.h</font></p>
</td>
<td style="vertical-align:top;padding:1px 4px" width="264">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2">Adds support for external media processing and enables utilization of an external audio resource.</font></p>
</td>
</tr>
<tr>
<td bgcolor="#f3f3f3" style="vertical-align:top;padding:1px 4px" width="146">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2"><a href="http://www.webrtc.org/reference/webrtc-internals/voefile" style="color:rgb(36,53,93);text-decoration:underline;font-weight:bold;padding:2px">VoEFile</a></font></p>
</td>
<td bgcolor="#f3f3f3" style="vertical-align:top;padding:1px 4px" width="157">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2">voe_file.h</font></p>
</td>
<td bgcolor="#f3f3f3" style="vertical-align:top;padding:1px 4px" width="264">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2">Adds file playback, file recording and file conversion functions.</font></p>
</td>
</tr>
<tr>
<td style="vertical-align:top;padding:1px 4px" width="146">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2"><a href="http://www.webrtc.org/reference/webrtc-internals/voehardware" style="color:rgb(36,53,93);text-decoration:underline;font-weight:bold;padding:2px">VoEHardware</a></font></p>
</td>
<td style="vertical-align:top;padding:1px 4px" width="157">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2">voe_hardware.h</font></p>
</td>
<td style="vertical-align:top;padding:1px 4px" width="264">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2">Adds sound device handling, CPU load monitoring and device information functions.</font></p>
</td>
</tr>
<tr>
<td bgcolor="#f3f3f3" style="vertical-align:top;padding:1px 4px" width="146">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2"><a href="http://www.webrtc.org/reference/webrtc-internals/voeneteqstats" style="color:rgb(36,53,93);text-decoration:underline;font-weight:bold;padding:2px">VoENetEqStats</a></font></p>
</td>
<td bgcolor="#f3f3f3" style="vertical-align:top;padding:1px 4px" width="157">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2">voe_neteq_stats.h</font></p>
</td>
<td bgcolor="#f3f3f3" style="vertical-align:top;padding:1px 4px" width="264">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2">Adds buffer statistics functions.</font></p>
</td>
</tr>
<tr>
<td style="vertical-align:top;padding:1px 4px" width="146">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2"><a href="http://www.webrtc.org/reference/webrtc-internals/voenetwork" style="color:rgb(36,53,93);text-decoration:underline;font-weight:bold;padding:2px">VoENetwork</a></font></p>
</td>
<td style="vertical-align:top;padding:1px 4px" width="157">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2">voe_network.h</font></p>
</td>
<td style="vertical-align:top;padding:1px 4px" width="264">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2">Adds external transport, port and address filtering, Windows QoS support and packet timeout notifications.</font></p>
</td>
</tr>
<tr>
<td bgcolor="#f3f3f3" style="vertical-align:top;padding:1px 4px" width="146">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2"><a href="http://www.webrtc.org/reference/webrtc-internals/voertp_rtcp" style="color:rgb(36,53,93);text-decoration:underline;font-weight:bold;padding:2px">VoERTP_RTCP</a></font></p>
</td>
<td bgcolor="#f3f3f3" style="vertical-align:top;padding:1px 4px" width="157">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2">voe_rtp_rtcp.h</font></p>
</td>
<td bgcolor="#f3f3f3" style="vertical-align:top;padding:1px 4px" width="264">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2">Adds support for RTCP sender reports, SSRC handling, RTP/RTCP statistics, Forward Error Correction (FEC), RTCP APP, RTP capturing and RTP keepalive.</font></p>
</td>
</tr>
<tr>
<td style="vertical-align:top;padding:1px 4px" width="146">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2"><a href="http://www.webrtc.org/reference/webrtc-internals/voevideosync" style="color:rgb(36,53,93);text-decoration:underline;font-weight:bold;padding:2px">VoEVideoSync</a></font></p>
</td>
<td style="vertical-align:top;padding:1px 4px" width="157">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2">voe_video_sync.h</font></p>
</td>
<td style="vertical-align:top;padding:1px 4px" width="264">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2">Adds RTP header modification support, playout-delay tuning and monitoring.</font></p>
</td>
</tr>
<tr>
<td bgcolor="#f3f3f3" style="vertical-align:top;padding:1px 4px" width="146">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2"><a href="http://www.webrtc.org/reference/webrtc-internals/voevolumecontrol" style="color:rgb(36,53,93);text-decoration:underline;font-weight:bold;padding:2px">VoEVolumeControl</a></font></p>
</td>
<td bgcolor="#f3f3f3" style="vertical-align:top;padding:1px 4px" width="157">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2">voe_volume_control.h</font></p>
</td>
<td bgcolor="#f3f3f3" style="vertical-align:top;padding:1px 4px" width="264">
<p style="margin-left:0in;margin-bottom:0.08in;direction:ltr;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2">Adds speaker volume controls, microphone volume controls, mute support, and additional stereo scaling methods.</font></p>
</td>
</tr>
</tbody>
</table>
<blockquote style="margin:0px 0px 0px 40px;color:rgb(102,102,102);border-style:none;padding:0px">
</blockquote>
<h3 style="font-family:Palatino,Palatino Linotype,serif;font-size:1.5em;font-weight:normal;margin-top:1em;color:rgb(36,53,93)"><a name="TOC-VideoEngine-Sub-APIs"></a><span style="font-size:22px;font-style:normal"><b><font face="arial, sans-serif">VideoEngine Sub APIs</font></b></span></h3>
<div><span style="color:rgb(0,0,0);font-style:normal;line-height:normal"><font face="arial, sans-serif" size="2">The table below summarizes the sub APIs that are currently available in VideoEngine.</font></span></div>
<table border="1" cellpadding="7" cellspacing="0" style="margin-top:0px;margin-right:0px;margin-bottom:0px;color:rgb(0,0,0);line-height:normal" width="610">
<tbody>
<tr>
<td style="vertical-align:top;padding:1px 4px" width="146">
<p style="margin-left:0in;margin-bottom:0.08in;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2" style="font-style:normal"><b>sub-API</b></font></p>
</td>
<td style="vertical-align:top;padding:1px 4px" width="157">
<p style="margin-left:0in;margin-bottom:0.08in;color:rgb(0,0,0)"><b><font face="arial, sans-serif" size="2" style="font-style:normal">Header</font></b></p>
</td>
<td style="vertical-align:top;padding:1px 4px" width="264">
<p style="margin-left:0in;margin-bottom:0.08in;color:rgb(0,0,0)"><b><font face="arial, sans-serif" size="2" style="font-style:normal">Description</font></b></p>
</td>
</tr>
</tbody>
<tbody>
<tr>
<td bgcolor="#f3f3f3" style="vertical-align:top;padding:1px 4px" width="146">
<p style="margin-left:0in;margin-bottom:0.08in;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2" style="font-style:normal"><a href="http://www.webrtc.org/reference/webrtc-internals/viebase" style="color:rgb(36,53,93);text-decoration:underline;font-weight:bold;padding:2px">ViEBase</a></font></p>
</td>
<td bgcolor="#f3f3f3" style="vertical-align:top;padding:1px 4px" width="157">
<p style="margin-left:0in;margin-bottom:0.08in;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2" style="font-style:normal">vie_base.h</font></p>
</td>
<td bgcolor="#f3f3f3" style="vertical-align:top;padding:1px 4px" width="264">
<p style="margin-left:0in;margin-bottom:0.08in;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2" style="font-style:normal">Basic functionality for creating a VideoEngine instance, channels and VoiceEngine interaction.</font></p>
<p style="margin-left:0in;margin-bottom:0.08in;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2" style="font-style:normal"><b>NOTE:</b> This API must always be created.</font></p>
</td>
</tr>
<tr>
<td style="vertical-align:top;padding:1px 4px" width="146">
<p style="margin-left:0in;margin-bottom:0.08in;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2" style="font-style:normal"><a href="http://www.webrtc.org/reference/webrtc-internals/viecapture" style="color:rgb(36,53,93);text-decoration:underline;font-weight:bold;padding:2px">ViECapture</a></font></p>
</td>
<td style="vertical-align:top;padding:1px 4px" width="157">
<p style="margin-left:0in;margin-bottom:0.08in;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2" style="font-style:normal">vie_capture.h</font></p>
</td>
<td style="vertical-align:top;padding:1px 4px" width="264">
<p style="margin-left:0in;margin-bottom:0.08in;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2" style="font-style:normal">Adds support for capture device allocation as well as capture device capabilities.</font></p>
</td>
</tr>
<tr>
<td bgcolor="#f3f3f3" style="vertical-align:top;padding:1px 4px" width="146">
<p style="margin-left:0in;margin-bottom:0.08in;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2" style="font-style:normal"><a href="http://www.webrtc.org/reference/webrtc-internals/viecodec" style="color:rgb(36,53,93);text-decoration:underline;font-weight:bold;padding:2px">ViECodec</a></font></p>
</td>
<td bgcolor="#f3f3f3" style="vertical-align:top;padding:1px 4px" width="157">
<p style="margin-left:0in;margin-bottom:0.08in;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2" style="font-style:normal">vie_codec.h</font></p>
</td>
<td bgcolor="#f3f3f3" style="vertical-align:top;padding:1px 4px" width="264">
<p style="margin-left:0in;margin-bottom:0.08in;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2" style="font-style:normal">Adds non-default codecs, codec settings and packet loss functionality.</font></p>
</td>
</tr>
<tr>
<td style="vertical-align:top;padding:1px 4px" width="146">
<p style="margin-left:0in;margin-bottom:0.08in;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2" style="font-style:normal"><a href="http://www.webrtc.org/reference/webrtc-internals/vieencryption" style="color:rgb(36,53,93);text-decoration:underline;font-weight:bold;padding:2px">ViEEncryption</a></font></p>
</td>
<td style="vertical-align:top;padding:1px 4px" width="157">
<p style="margin-left:0in;margin-bottom:0.08in;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2" style="font-style:normal">vie_encryption.h</font></p>
</td>
<td style="vertical-align:top;padding:1px 4px" width="264">
<p style="margin-left:0in;margin-bottom:0.08in;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2" style="font-style:normal">Adds external encryption/decryption support.</font></p>
</td>
</tr>
<tr>
<td bgcolor="#f3f3f3" style="vertical-align:top;padding:1px 4px" width="146">
<p style="margin-left:0in;margin-bottom:0.08in;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2" style="font-style:normal"><a href="http://www.webrtc.org/reference/webrtc-internals/vieerrors" style="color:rgb(36,53,93);text-decoration:underline;font-weight:bold;padding:2px">ViEErrors</a></font></p>
</td>
<td bgcolor="#f3f3f3" style="vertical-align:top;padding:1px 4px" width="157">
<p style="margin-left:0in;margin-bottom:0.08in;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2" style="font-style:normal">vie_errors.h</font></p>
</td>
<td bgcolor="#f3f3f3" style="vertical-align:top;padding:1px 4px" width="264">
<p style="margin-left:0in;margin-bottom:0.08in;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2" style="font-style:normal">Error codes for the VideoEngine</font></p>
</td>
</tr>
<tr>
<td style="vertical-align:top;padding:1px 4px" width="146">
<p style="margin-left:0in;margin-bottom:0.08in;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2" style="font-style:normal"><a href="http://www.webrtc.org/reference/webrtc-internals/vieexternalcodec" style="color:rgb(36,53,93);text-decoration:underline;font-weight:bold;padding:2px">ViEExternalCodec</a></font></p>
</td>
<td style="vertical-align:top;padding:1px 4px" width="157">
<p style="margin-left:0in;margin-bottom:0.08in;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2" style="font-style:normal">vie_external_codec.h</font></p>
</td>
<td style="vertical-align:top;padding:1px 4px" width="264">
<p style="margin-left:0in;margin-bottom:0.08in;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2" style="font-style:normal">Adds support for using external codecs.</font></p>
</td>
</tr>
<tr>
<td bgcolor="#f3f3f3" style="vertical-align:top;padding:1px 4px" width="146">
<p style="margin-left:0in;margin-bottom:0.08in;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2"><a href="http://www.webrtc.org/reference/webrtc-internals/viefile" style="color:rgb(36,53,93);text-decoration:underline;font-weight:bold;padding:2px;font-style:normal">ViEFile</a></font></p>
</td>
<td bgcolor="#f3f3f3" style="vertical-align:top;padding:1px 4px" width="157">
<p style="margin-left:0in;margin-bottom:0.08in;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2" style="font-style:normal">vie_file.h</font></p>
</td>
<td bgcolor="#f3f3f3" style="vertical-align:top;padding:1px 4px" width="264">
<p style="margin-left:0in;margin-bottom:0.08in;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2" style="font-style:normal">Adds support for file recording, file playout, background images and snapshot.</font></p>
</td>
</tr>
<tr>
<td style="vertical-align:top;padding:1px 4px" width="146">
<p style="margin-left:0in;margin-bottom:0.08in;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2" style="font-style:normal"><a href="http://www.webrtc.org/reference/webrtc-internals/vieimageprocess" style="color:rgb(36,53,93);text-decoration:underline;font-weight:bold;padding:2px">ViEImageProcess</a></font></p>
</td>
<td style="vertical-align:top;padding:1px 4px" width="157">
<p style="margin-left:0in;margin-bottom:0.08in;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2" style="font-style:normal">vie_image_process.h</font></p>
</td>
<td style="vertical-align:top;padding:1px 4px" width="264">
<p style="margin-left:0in;margin-bottom:0.08in;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2" style="font-style:normal">Adds effect filters, deflickering, denoising and color enhancement.</font></p>
</td>
</tr>
<tr>
<td bgcolor="#f3f3f3" style="vertical-align:top;padding:1px 4px" width="146">
<p style="margin-left:0in;margin-bottom:0.08in;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2" style="font-style:normal"><a href="http://www.webrtc.org/reference/webrtc-internals/vienetwork" style="color:rgb(36,53,93);text-decoration:underline;font-weight:bold;padding:2px">ViENetwork</a></font></p>
</td>
<td bgcolor="#f3f3f3" style="vertical-align:top;padding:1px 4px" width="157">
<p style="margin-left:0in;margin-bottom:0.08in;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2" style="font-style:normal">vie_network.h</font></p>
</td>
<td bgcolor="#f3f3f3" style="vertical-align:top;padding:1px 4px" width="264">
<p style="margin-left:0in;margin-bottom:0.08in;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2" style="font-style:normal">Adds send and receive functionality, external transport, port and address filtering, Windows QoS support, packet timeout notification and changes to network settings.</font></p>
</td>
</tr>
<tr>
<td style="vertical-align:top;padding:1px 4px" width="146">
<p style="margin-left:0in;margin-bottom:0.08in;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2" style="font-style:normal"><a href="http://www.webrtc.org/reference/webrtc-internals/vierender" style="color:rgb(36,53,93);text-decoration:underline;font-weight:bold;padding:2px">ViERender</a></font></p>
</td>
<td style="vertical-align:top;padding:1px 4px" width="157">
<p style="margin-left:0in;margin-bottom:0.08in;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2" style="font-style:normal">vie_render.h</font></p>
</td>
<td style="vertical-align:top;padding:1px 4px" width="264">
<p style="margin-left:0in;margin-bottom:0.08in;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2" style="font-style:normal">Adds rendering functionality.</font></p>
</td>
</tr>
<tr>
<td bgcolor="#f3f3f3" style="vertical-align:top;padding:1px 4px" width="146">
<p style="margin-left:0in;margin-bottom:0.08in;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2" style="font-style:normal"><a href="http://www.webrtc.org/reference/webrtc-internals/viertp_rtcp" style="color:rgb(36,53,93);text-decoration:underline;font-weight:bold;padding:2px">ViERTP_RTCP</a></font></p>
</td>
<td bgcolor="#f3f3f3" style="vertical-align:top;padding:1px 4px" width="157">
<p style="margin-left:0in;margin-bottom:0.08in;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2" style="font-style:normal">vie_rtp_rtcp.h</font></p>
</td>
<td bgcolor="#f3f3f3" style="vertical-align:top;padding:1px 4px" width="264">
<p style="margin-left:0in;margin-bottom:0.08in;color:rgb(0,0,0)"><font face="arial, sans-serif" size="2" style="font-style:normal">Adds support for RTCP reports, SSRS handling RTP/RTCP statistics, NACK/FEC, keep-alive functionality and key frame request methods.</font></p>
</td>
</tr>
</tbody>
</table>